/*=================================
=            ACCORDION            =
=================================*/

.accordion__table {
  width: 100%;
}

.accordion__row {
  position: relative;
  cursor: pointer;
}

.accordion__target {
  background: #fff;
  max-height: 0;
  overflow: hidden;
  transition: max-height $transition;

  &.open {
    max-height: 600px;
  }
}

.accordion__click {
  border-top: 1px $color-border solid;
  padding: 5px;
}

.accordion__info {
  position: relative;
  border: 1px $color-primary solid;
  padding: 10px;
  margin-bottom: 15px;

  @include grid-media-query('l'){
    display: none;
  }

  &:before {
    content: '';
    position: absolute;
    left: 50%;
    z-index: 1;
    height: 10px;
    top: -10px;
    width: 1px;
    border-left: 1px $color-primary solid;
  }
}


.accordion__cell {
  font-size: $fontSize-medium;
  line-height: 1.4;
  display: inline-block;
  overflow: hidden;
  vertical-align: top;

  &:nth-child(n+3) {
    display: none;
  }

  &:first-child {
    width: 80%
  }

  &:nth-child(2) {
    width: 86px;
  }

  &:only-child {
    width: 100%;
  }

  @include grid-media-query('l'){

    width: 25%;

    &:first-child:not(:only-child) {
      width: 40%;
    }

    &:nth-child(n+3) {
      display: inline-block;
    }

    &:nth-child(2) {
      width: 86px;
    }

  }

  img {
    width: auto;
    max-width: 100%;
    max-height: 460px;
    height: auto;
    margin: 10px auto;
    display: block;
  }

  a {
    display: block;
  }
}