/*=================================
=            ACCORDION            =
=================================*/

.accordion__table {
  width: 100%;
}

.accordion__row {
  position: relative;
  padding: 10px;
  border-bottom: 1px $color-border solid;
  cursor: pointer;

  &:nth-last-child(2) {
    border: 0;
  }
}

.accordion__target {
  display: none;
}

.accordion__click {

  &::after {
    content: '\25be';
    display: block;
    position: absolute;
    right: 10px;
    top: calc(50% - 2px);
    transform: translateY(-50%) rotate(0deg);
    transition: transform 0.3s linear;
  }

  &.clicked::after {
    transform: translateY(-50%) rotate(180deg);
  }
}

.accordion__cell {
  font-size: $fontSize-medium;
  line-height: 1.4;
  display: block;

  @include grid-media-query('l'){
    width: 20%;
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;

    &:first-child {
      width: 65px;
    }

    &:nth-child(2) {
      width: 400px;
    }

    &:only-child {
      width: 100%;
    }
  }

}

.accordion__title {
  font-weight: bold;
}
