/*=================================
=            ACCORDION            =
=================================*/

.accordion__table {
  width: 100%;
}

.accordion__row {
  position: relative;
  cursor: pointer;

}

.accordion__target {
  display: none;
  padding: 5px 5px 0;
}

.accordion__click {
  border-top: 1px $color-border solid;
  padding: 10px 10px 5px;
}

.accordion__cell {
  font-size: $fontSize-medium;
  line-height: 1.4;
  display: block;

  @include grid-media-query('l'){
    width: 20%;
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;

    &:first-child {
      width: 400px;
    }

    &:nth-child(2) {
      width: 65px;
    }

    &:only-child {
      width: 100%;
    }
  }

  img {
    max-width: 600px;
    margin: 20px auto;
    display: block;
  }
}