* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  margin: 0;
  background: $color-bg;
  padding: 0 5px;
  color: $color-text;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.6rem;
  line-height: 1.625;

  position: relative;

}

a {
  color: $color-secondary;
}

img {
  width: 100%;
  max-width: 100%;
}
