* {
  box-sizing: border-box;
}


body {
  margin: 0;
  background: $color-bg;
  padding: 0 5px;
  color: $color-text;
  font-family: 'Open Sans', sans-serif;
  font-size: $fontSize-medium;
  line-height: $lineHeight-medium;

  position: relative;

}

a {
  color: $color-primary;
}

img {
  width: 100%;
  max-width: 100%;
}


p {
  margin-bottom: 24px;
}