* {
  box-sizing: border-box;
}


body {
  margin: 0;
  background: $color-bg;
  padding: 0 5px;
  color: $color-text;
  font-family: 'Open Sans', sans-serif;
  font-size: $fontSize-medium;
  line-height: $lineHeight-medium;

  position: relative;

  &::after {
    position: fixed;
    content: '';
    border: 3px white solid;
    box-shadow: inset 0 0 0 1px $color-primary;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    pointer-events: none;
    z-index: 11;
  }

}

a {
  color: $color-primary;
}

img {
  width: 100%;
  max-width: 100%;
}


p {
  margin-bottom: 24px;
}