.navigation {
  font-size: $fontSize-small;
  line-height: 1.5;
  position: fixed;
  z-index: 10;
  left: 3px;
  top: 0;
  bottom: 0;
  padding-top: 10px;

  transform: translateX(0);
  transition: transform 0.5s;

  backface-visibility: hidden;

  &.closed {
    transform: translateX(-120%);
  }

  @include grid-media-query('m'){

    transform: translateX(0) !important;
    font-size: $fontSize-small;
    line-height: 1;

  }
}

.navigation__items {
  padding: 0;
  margin: 0;
}

.navigation__item {
  list-style: none;
}

.navigation__link {
  background-color: $color-bg;
  padding: 5px 8px;
  margin: 2px 2px 2px 0;
  display: inline-block;
  color: $color-primary;
  text-decoration: none;
  position: relative;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-size: $fontSize-small;
  line-height: 1.4;
  border: 1px $color-primary solid;
  border-left-width: 0;

  &:after {
    background: $color-bg;
    z-index: -1;
    font-weight: bold;
    content: "\203A";
    position: absolute;
    right: -1px;
    top: -1px;
    border: 1px $color-primary solid;
    border-left-width: 0;
    padding: 5px;

    transition: right 0.3s ease-in-out;
    bottom: -1px;
  }

  &:hover {

    &:after {
      right: -17px;
    }
  }
}

.navigation__toggle {
  cursor: pointer;
  z-index: 99;
  position: fixed;
  padding-left: 1.25em;
  top: 0px;
  right: 0px;
  width: 1em;
  height: 1em;

  &:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0.25em;
    width: 1em;
    height: 0.15em;
    background: white;
    box-shadow:
      0 0.25em 0 0 white,
      0 0.5em 0 0 white;
  }

  &:after {
    content: "";
    position: absolute;
    top: -2em;
    right: -2em;
    width: 4em;
    height: 4em;
    background: $color-bg-invert;
    z-index: -1;
    border-radius: 50%;
  }

  @include grid-media-query('m'){
    display: none;
  }
}

/*
.navigation__item {

  .navigation__link:before {
    content: '';
    display: inline-block;
    vertical-align: middle;
    width: 8px;
    height: 8px;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: bottom center;
    margin-right: 2px;
  }

  //
  &:nth-child(1) .navigation__link:before { background-image: url(../images/icon--a.png)}
  &:nth-child(2) .navigation__link:before { background-image: url(../images/icon--b.png)}
  &:nth-child(3) .navigation__link:before { background-image: url(../images/icon--c.png)}
  &:nth-child(4) .navigation__link:before { background-image: url(../images/icon--d.png)}
  &:nth-child(5) .navigation__link:before { background-image: url(../images/icon--e.png)}
  &:nth-child(6) .navigation__link:before { background-image: url(../images/icon--f.png)}
  &:nth-child(7) .navigation__link:before { background-image: url(../images/icon--g.png)}
  &:nth-child(8) .navigation__link:before { background-image: url(../images/icon--h.png)}
  &:nth-child(9) .navigation__link:before { background-image: url(../images/icon--i.png)}
}
*/