.navigation {
  font-size: $fontSize-small;
  line-height: 1.5;
  position: fixed;
  z-index: 10;
  left: 3px;
  top: 0;
  bottom: 0;
  padding-top: 10px;

  transform: translateX(-120%);
  transition: transform 0.5s;

  backface-visibility: hidden;

  &.open {
    transform: translateX(0);
  }

  @include grid-media-query('m'){

    transform: translateX(0) !important;
    font-size: $fontSize-small;
    line-height: 1;

  }
}

.navigation__items {
  padding: 0;
  margin: 0;
}

.navigation__item {
  list-style: none;
}

.navigation__link {
  background-color: $color-bg;
  padding: 5px 8px;
  margin: 2px 2px 2px 0;
  display: inline-block;
  color: $color-primary;
  text-decoration: none;
  position: relative;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-size: $fontSize-small;
  line-height: 1.4;
  border: 1px $color-primary solid;
  border-left-width: 0;

  &:after {
    background: $color-bg;
    z-index: -1;
    font-weight: bold;
    content: "\203A";
    position: absolute;
    right: -1px;
    top: -1px;
    border: 1px $color-primary solid;
    border-left-width: 0;
    padding: 5px;

    transition: right 0.3s ease-in-out;
    bottom: -1px;
  }

  &:hover {

    &:after {
      right: -17px;
    }
  }
}

.navigation__toggle {
  cursor: pointer;
  z-index: 99;
  position: fixed;
  padding-left: 1.25em;
  top: 6px;
  right: 6px;
  width: 1em;
  height: 1em;

  &:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0.25em;
    width: 1em;
    height: 0.15em;
    background: black;
    box-shadow:
      0 0.25em 0 0 black,
      0 0.5em 0 0 black;
  }

  @include grid-media-query('m'){
    display: none;
  }
}
