body.overlay {
  overflow: hidden;

  .overlay__click {
    filter: blur(5px);
  }

  .overlay__background {
    opacity: 1;
    pointer-events: auto;
  }
}


.overlay__background {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.9);
  z-index: 99;
  pointer-events: none;

  opacity: 0;
  transition: opacity 0.4s;
}

.overlay__close {
  line-height: 1;
  cursor: pointer;
  position: absolute;
  top: 5px;
  right: 5px;
  color: $color-primary;
  padding: 10px;
}

.overlay__container {
  position: fixed;
  z-index: 100;
  top: 50%;
  left: 50%;
  width: 100%;
  max-width: 900px;
  transform: translate(-50%, -400%);

  &.open {
    transform: translate(-50%, -50%)
  }
}

.overlay__viewer {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
  margin-bottom: 5px;
}

.overlay__view {
  background: white;
  border: 1px $color-primary solid;
  padding: 5px;
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  width: calc(100% - 5px);
  height: calc(100% - 5px);
}
