html.overlay {

  &,
  body {
    overflow: hidden;
  }

  .overlay__background {
    opacity: 1;
    pointer-events: auto;
  }
}


.overlay__background {
  position: fixed;
  overflow: scroll;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: white;
  z-index: 99;
  pointer-events: none;

  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}


.overlay__close {
  line-height: 1;
  cursor: pointer;
  position: fixed;
  top: -8px;
  right: 2px;
  color: $color-primary;
  padding: 5px;
  font-size: $fontSize-large;
  line-height: 1;
}

.overlay__container {
  position: absolute;
  z-index: 100;
  top: -99999px;
  left: 50%;
  width: 100%;
  max-width: 900px;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  pointer-events: none;

  &.open {
    top: 50%;
    opacity: 1;
    transform: translate(-50%, -50%);
    pointer-events: all;

    &.-photo {
      top: 48px;
      transform: translate(-50%,0);
    }
  }
}

.overlay__viewer {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 57%;
  margin-bottom: 5px;

  .overlay__img {
    display: none;
  }

  &.-photo {

    height: 100%;
    padding: 24px;

    .overlay__img {
      display: block;
    }

    .overlay__iframe {
      display: none;
    }
  }
}

.overlay__img {
  display: block;
  border: 5px white solid;
  box-shadow: 0 0 0 1px $color-primary;
  margin: 24px auto;
  max-height: 800px;
  max-width: 100%;
  width: auto;
  height: auto;
}


.overlay__iframe {
  border: 5px white solid;
  box-shadow: 0 0 0 1px $color-primary;
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  width: calc(100% - 5px);
  height: calc(100% - 5px);
}
