
.albums {
  @extend %grid;
}

.album {
  @extend %grid__item;
  @extend %m--one-quarter;

  margin-bottom: 10px;
  text-align: center;
}

.album__artwork {
  width: 100%;
}

.album__name {
  display: inline-block;
  font-weight: bold;
  padding: 5px;
  letter-spacing: 1px;
  line-height: 1;
  margin-bottom: 5px;
  position: relative;
  background: $color-primary;
  color: $color-bg;

  &:after {
    content: '';
    position: absolute;
    left: 50%;
    z-index: 1;
    height: 6px;
    width: 1px;
    border-left: 1px $color-primary solid;
    bottom: -6px;
  }
}

.album__notes {
  padding: 0;
  margin: 0;
  list-style: none;
  display: block;
  position: relative;
}

.album__note {
  position: relative;
  z-index: 1;
  line-height: 1;
  font-size: $fontSize-small;

  &:not(:last-child):before {
    content: '';
    position: absolute;
    left: 50%;
    z-index: 1;
    height: 5px;
    bottom: -1px;
    width: 1px;
    border-left: 1px $color-primary solid;
  }

}

.album__link {
  padding: 5px;
  margin-bottom: 3px;
  text-decoration: none;
  display: inline-block;
}

