.videos {
  @extend %grid;
}

.video {
  @extend %grid__item;
  @extend %xl--one-third;
  margin-bottom: 10px;
  cursor: pointer;
}


.video__title {
  font-weight: bold;
}

.video__descr {
  font-size: $fontSize-small;
  font-weight: bold;
}

.video__image {
  padding: 5px;
  max-width: 100%;
  height: auto;
}
