.videos {
  @extend %grid;
}

.video {
  @extend %grid__item;
  @extend %xl--one-third;
  margin-bottom: 10px;
}


.video__title {
  font-weight: bold;
}

.video__descr {
  font-size: $fontSize-small;
  font-weight: bold;
}

.video__viewer {
  cursor: pointer;
  position: relative;
  height: 0;
  width: 100%;
  padding-bottom: 56.25%;
  margin-bottom: 5px;
}
.video__view {
  background: black;
  position: absolute;
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  width: calc(100% - 10px);
  height: calc(100% - 10px);
  border: 0;
}

.video__viewer--main {
  padding-bottom: 0;
  border: 0;
}
