.section {
  width: 100%;
  text-align: center;
  position: relative;
  overflow: hidden;
  min-height: 0;
  transition: min-height 0.5s;

  &:after {
    content: '';
    z-index: -1;
    position: absolute;
    top: -$blur-width;
    right: -$blur-width;
    bottom: -$blur-width;
    left: -$blur-width;

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    filter: blur($blur-width);
  }

  &:before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    width: 0;
    height: 100%;
    min-height: inherit;
    max-height: inherit;
    padding: 0;
  }
}

.section__container {
  display: inline-block;
  vertical-align: top;
  text-align: left;
  width: 90%;
  max-width: 960px;
  margin: 20px auto 0;

  @include grid-media-query('m'){
    vertical-align: middle;
  }
}


.section--home .section__container {
  vertical-align: middle;
}

.section__title {
  position: relative;
  text-transform: uppercase;
  border-left: 1px $color-primary solid;
  border-bottom: 1px $color-primary solid;
  font-size: $fontSize-small;
  letter-spacing: 1px;
  line-height: 1;
  font-weight: bold;
  color: $color-primary;
  word-break: break-all;
  margin-bottom: 2rem;
  padding: 0 0 5px 5px;

  &:before {
    position: relative;
    display: inline-block;
    border-right: 1px $color-primary solid;
    padding-right: 5px;
    margin-right: 5px;
    margin-top: 1px;
  }

  &:after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -3px;
    height: 3px;
    width: 100%;
    background-image: linear-gradient(90deg, transparent 90%, $color-primary 10%);
    background-size: 10px 10px;
  }
}

.section__body {
  padding-top: 1rem;
}


/*=============================
=            BOXES            =
=============================*/

.-boxed {
  border: 1px $color-primary solid;

  &:hover {
    background: $color-secondary;
    border-color: $color-primary;
  }
}

/*=================================
=            ACCORDION            =
=================================*/

.accordion__table {
  width: 100%;
}

.accordion__media {
  display: none;
}

.accordion__row {
  cursor: pointer;
}

.accordion__date,
.accordion__name,
.accordion__info {
  display: inline-block;
  width: 32%;
}



/*==============================
=            CUSTOM            =
==============================*/
/*
.section:nth-child(1) .section__title:before { content: 'I'; }
.section:nth-child(2) .section__title:before { content: 'II'; }
.section:nth-child(3) .section__title:before { content: 'III'; }
.section:nth-child(4) .section__title:before { content: 'IV'; }
.section:nth-child(5) .section__title:before { content: 'V'; }
.section:nth-child(6) .section__title:before { content: 'VI'; }
.section:nth-child(7) .section__title:before { content: 'VII'; }


.section--home:after {
  background-image: url(../images/face--down.jpg);
}

.section--music:after {
  background-image: url(//placekitten.com/g/1200/700);
}

.section--lyrics:after {
  background-image: url(//placekitten.com/g/1200/800);
}

.section--about:after {
  background-image: url(//placekitten.com/g/1200/900);
}

.section--photo:after {
  background-image: url(//placekitten.com/g/1200/1000);
}

.section--video:after {
  background-image: url(//placekitten.com/g/700/1100);
}

.section--choreography:after {
  background-image: url(//placekitten.com/g/2000/2000);
}

.section--performance:after {
  background-image: url(//placekitten.com/g/1200/1200);
}
*/
