.about__body {
  background: white;
  padding: 5% 10%;
  box-shadow: 0 12px 0px -10px $color-primary;
}

.about__caps {
  font-family: Georgia;
  display: inline-block;
  padding: 5px 10px;
  margin-right: 5px;
  font-size: $fontSize-large;
  float: left;
  line-height: 1;
}