
.albums {
  @extend %grid;
}

.album {
  @extend %grid__item;
  @extend %xl--one-quarter;

  margin-bottom: 10px;
}

.album__artwork {
  width: 100%;
}

.album__name {
  display: inline-block;
  font-weight: bold;
  border: 1px $color-secondary solid;
  padding: 5px;
  letter-spacing: 1px;
  line-height: 1;
}

.album__links {
  margin: 0 0 0 5px;
  padding: 5px 0 0 0;
  list-style: none;
  text-align: left;
  border-left: 1px $color-secondary solid;
  display: block;
}

.album__link {
  padding: 5px;
  border: 1px $color-secondary solid;
  border-left: 0;
  font-size: 1rem;
  margin-top: 2px;

  @include grid-media-query('xl'){
    display: inline-block;
  }

}