.section {
  width: 100%;
  text-align: center;
  position: relative;
  overflow: hidden;
  min-height: 100vh;
  padding: 120px 72px;
  transition: min-height 0.5s;

  &:after {
    content: '';
    z-index: -1;
    position: absolute;
    top: -$blur-width;
    right: -$blur-width;
    bottom: -$blur-width;
    left: -$blur-width;

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    filter: blur($blur-width);
  }

  &:before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    width: 0;
    height: 100%;
    min-height: inherit;
    max-height: inherit;
    padding: 0;
  }
}

.section__container {
  display: inline-block;
  vertical-align: top;
  text-align: left;
  width: 90%;
  max-width: 960px;
  margin: 24px auto 0;

  @include grid-media-query('m'){
    vertical-align: middle;
  }
}


.section--home .section__container {
  vertical-align: middle;
}

.section__title {
  position: relative;
  text-transform: uppercase;
  border-left: 1px $color-primary solid;
  border-bottom: 1px $color-primary solid;
  letter-spacing: 1px;
  line-height: 1;
  font-weight: bold;
  color: $color-primary;
  word-break: break-all;
  margin-bottom: 24px;
  padding: 0 0 5px 5px;

  &:before {
    position: relative;
    display: inline-block;
    border-right: 1px $color-primary solid;
    padding-right: 5px;
    margin-right: 5px;
    margin-top: 1px;
  }

  &:after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -3px;
    height: 3px;
    width: 100%;
    background-image: linear-gradient(90deg, transparent 90%, $color-primary 10%);
    background-size: 12px 12px;
  }
}

.section__body {
  padding-top: 1rem;
}


/*=============================
=            BOXES            =
=============================*/

.-boxed {
  border: 1px $color-primary solid;

  &:hover {
    background: $color-secondary;
    border-color: $color-primary;
  }
}
