.videos {
  @extend %grid;
}

.video {
  @extend %grid__item;
  @extend %m--one-third;
  margin-bottom: 10px;
  cursor: pointer;
}


.video__title {
  font-weight: bold;
}

.video__descr {
  font-size: $fontSize-small;
  font-weight: bold;
}

.video__image {
  padding: 5px;
  max-width: 100%;
  height: auto;
}

.video__holder {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
}

.video__viewer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}