.photos {
  @extend %grid;
}

.photo {
  @extend %grid__item;
  @extend %xl--one-third;

  margin-bottom: 5px;
  cursor: pointer;
}

.photo__image {
  padding: 5px;
  max-width: 100%;
}

.photo__title {
  font-size: $fontSize-small;
  margin-bottom: 10px;
}
