/*=====================================
=            GRID SETTINGS            =
=====================================*/

$responsive:            true!default;
$mobile-first:          true!default;
$gutter:                12px!default;
$use-silent-classes:    true!default;
$push:                  false!default;
$pull:                  false!default;
$use-markup-fix:        false!default;

$breakpoints: (
    's' '(max-width: 480px)',
    'm' '(min-width: 600px)',
    'l' '(min-width: 800px)',
    'xl' '(min-width: 1024px)'
)!default;

$breakpoint-has-widths: ('s', 'm', 'l', 'xl')!default;
$breakpoint-has-push:   ('s', 'm', 'l', 'xl')!default;
$breakpoint-has-pull:   ('s', 'm', 'l', 'xl')!default;

/*==============================
=            COLORS            =
==============================*/

$color-primary: #11546e;
$color-text: $color-primary;
$color-secondary: #d2ddd6;
$color-bg: #ffffff;
$color-border: #d2ddd6;
$color-bg-invert: #050608;
$color-primary-invert: #fff;

$color-overlay: rgba(#fff, 0.025);

/*=============================
=            SIZES            =
=============================*/

$border-width: 5px;
$blur-width: 5px;
$sidebar-width: 150px;

$fontSize-small: 12px;
$fontSize-medium: 16px;
$fontSize-large: 40px;

$lineHeight-small: 24px;
$lineHeight-medium: 24px;
$lineHeight-large: 48px;
