// Font
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,600);

// Settings
@import 'partials/settings';

// Components
@import '../bower_components/csswizardry-grids/csswizardry-grids';

// General
@import 'partials/base';
@import 'partials/nav';

// Sections
@import 'partials/section';
@import 'partials/section-home';
@import 'partials/section-music';
@import 'partials/section-video';
@import 'partials/section-photo';