@charset "UTF-8";
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,600);
/*=====================================
=            GRID SETTINGS            =
=====================================*/
/*==============================
=            COLORS            =
==============================*/
/*=============================
=            SIZES            =
=============================*/
/*------------------------------------*\
    $CSSWIZARDRY-GRIDS
\*------------------------------------*/
/**
 * CONTENTS
 * INTRODUCTION.........How the grid system works.
 * VARIABLES............Your settings.
 * MIXINS...............Library mixins.
 * GRID SETUP...........Build the grid structure.
 * WIDTHS...............Build our responsive widths around our breakpoints.
 * PUSH.................Push classes.
 * PULL.................Pull classes.
 */
/*------------------------------------*\
    $INTRODUCTION
\*------------------------------------*/
/**
 * csswizardry grids provides you with widths to suit a number of breakpoints
 * designed around devices of a size you specify. Out of the box, csswizardry
 * grids caters to the following types of device:
 *
 * palm     --  palm-based devices, like phones and small tablets
 * lap      --  lap-based devices, like iPads or laptops
 * portable --  all of the above
 * desk     --  stationary devices, like desktop computers
 * regular  --  any/all types of device
 *
 * These namespaces are then used in the library to give you the ability to
 * manipulate your layouts based around them, for example:
 *
   <div class="grid__item  one-whole  lap--one-half  desk--one-third">
 *
 * This would give you a grid item which is 100% width unless it is on a lap
 * device, at which point it become 50% wide, or it is on a desktop device, at
 * which point it becomes 33.333% width.
 *
 * csswizardry grids also has push and pull classes which allow you to nudge
 * grid items left and right by a defined amount. These follow the same naming
 * convention as above, but are prepended by either `push--` or `pull--`, for
 * example:
 *
   `class="grid__item  one-half  push--one-half"`
 *
 * This would give you a grid item which is 50% width and pushed over to the
 * right by 50%.
 *
 * All classes in csswizardry grids follow this patten, so you should fairly
 * quickly be able to piece together any combinations you can imagine, for
 * example:
 *
   `class="grid__item  one-whole  lap--one-half  desk--one-third  push--desk--one-third"`
 *
   `class="grid__item  one-quarter  palm--one-half  push--palm--one-half"`
 *
   `class="grid__item  palm--one-third  desk--five-twelfths"`
 */
/*------------------------------------*\
    $VARIABLES
\*------------------------------------*/
/**
 * If you are building a non-responsive site but would still like to use
 * csswizardry-grids, set this to ‘false’:
 */
/**
 * Is this build mobile first? Setting to ‘true’ means that all grids will be
 * 100% width if you do not apply a more specific class to them.
 */
/**
 * Set the spacing between your grid items.
 */
/**
 * Would you like Sass’ silent classes, or regular CSS classes?
 */
/**
 * Would you like push and pull classes enabled?
 */
/**
 * Using `inline-block` means that the grid items need their whitespace removing
 * in order for them to work correctly. Set the following to true if you are
 * going to achieve this by manually removing/commenting out any whitespace in
 * your HTML yourself.
 *
 * Setting this to false invokes a hack which cannot always be guaranteed,
 * please see the following for more detail:
 *
 * github.com/csswizardry/csswizardry-grids/commit/744d4b23c9d2b77d605b5991e54a397df72e0688
 * github.com/csswizardry/inuit.css/issues/170#issuecomment-14859371
 */
/**
 * Define your breakpoints. The first value is the prefix that shall be used for
 * your classes (e.g. `.palm--one-half`), the second value is the media query
 * that the breakpoint fires at.
 */
/**
 * Define which namespaced breakpoints you would like to generate for each of
 * widths, push and pull. This is handy if you only need pull on, say, desk, or
 * you only need a new width breakpoint at mobile sizes. It allows you to only
 * compile as much CSS as you need. All are turned on by default, but you can
 * add and remove breakpoints at will.
 *
 * Push and pull shall only be used if `$push` and/or `$pull` and `$responsive`
 * have been set to ‘true’.
 */
/**
 * You do not need to edit anything from this line onward; csswizardry-grids is
 * good to go. Happy griddin’!
 */
/*------------------------------------*\
    $MIXINS
\*------------------------------------*/
/**
 * These mixins are for the library to use only, you should not need to modify
 * them at all.
 *
 * Enclose a block of code with a media query as named in `$breakpoints`.
 */
/**
 * Drop relative positioning into silent classes which can’t take advantage of
 * the `[class*="push--"]` and `[class*="pull--"]` selectors.
 */
/*------------------------------------*\
    $GRID SETUP
\*------------------------------------*/
/**
 * 1. Allow the grid system to be used on lists.
 * 2. Remove any margins and paddings that might affect the grid system.
 * 3. Apply a negative `margin-left` to negate the columns’ gutters.
 */
/* line 213, ../../src/bower_components/csswizardry-grids/csswizardry-grids.scss */
.albums, .videos, .photos {
  list-style: none;
  /* [1] */
  margin: 0;
  /* [2] */
  padding: 0;
  /* [2] */
  margin-left: -12px;
  /* [3] */
  letter-spacing: -0.31em;
}

/* Opera hack */
/* line 225, ../../src/bower_components/csswizardry-grids/csswizardry-grids.scss */
.opera:-o-prefocus,
.albums,
.videos,
.photos {
  word-spacing: -0.43em;
}

/**
 * 1. Cause columns to stack side-by-side.
 * 2. Space columns apart.
 * 3. Align columns to the tops of each other.
 * 4. Full-width unless told to behave otherwise.
 * 5. Required to combine fluid widths and fixed gutters.
 */
/* line 239, ../../src/bower_components/csswizardry-grids/csswizardry-grids.scss */
.album, .video, .photo {
  display: inline-block;
  /* [1] */
  padding-left: 12px;
  /* [2] */
  vertical-align: top;
  /* [3] */
  width: 100%;
  /* [4] */
  /* [5] */
  /* [5] */
  box-sizing: border-box;
  /* [5] */
  letter-spacing: normal;
  word-spacing: normal;
}

/**
 * Reversed grids allow you to structure your source in the opposite order to
 * how your rendered layout will appear. Extends `.grid`.
 */
/**
 * Gutterless grids have all the properties of regular grids, minus any spacing.
 * Extends `.grid`.
 */
/**
 * Align the entire grid to the right. Extends `.grid`.
 */
/**
 * Centered grids align grid items centrally without needing to use push or pull
 * classes. Extends `.grid`.
 */
/**
 * Align grid cells vertically (`.grid--middle` or `.grid--bottom`). Extends
 * `.grid`.
 */
/**
 * Create grids with narrower gutters. Extends `.grid`.
 */
/**
 * Create grids with wider gutters. Extends `.grid`.
 */
/*------------------------------------*\
    $WIDTHS
\*------------------------------------*/
/**
 * Create our width classes, prefixed by the specified namespace.
 */
/**
 * Our regular, non-responsive width classes.
 */
/**
 * Whole
 */
/**
 * Halves
 */
/**
 * Thirds
 */
/**
 * Quarters
 */
/**
 * Fifths
 */
/**
 * Sixths
 */
/**
 * Eighths
 */
/**
 * Tenths
 */
/**
 * Twelfths
 */
/**
 * Our responsive classes, if we have enabled them.
 */
@media only screen and (max-width: 480px) {
  /**
   * Whole
   */
  /**
   * Halves
   */
  /**
   * Thirds
   */
  /**
   * Quarters
   */
  /**
   * Fifths
   */
  /**
   * Sixths
   */
  /**
   * Eighths
   */
  /**
   * Tenths
   */
  /**
   * Twelfths
   */
}
@media only screen and (min-width: 600px) {
  /**
   * Whole
   */
  /**
   * Halves
   */
  /* line 373, ../../src/bower_components/csswizardry-grids/csswizardry-grids.scss */
  .album, .video {
    width: 50%;
  }

  /**
   * Thirds
   */
  /* line 379, ../../src/bower_components/csswizardry-grids/csswizardry-grids.scss */
  .photo {
    width: 33.333%;
  }

  /**
   * Quarters
   */
  /**
   * Fifths
   */
  /**
   * Sixths
   */
  /**
   * Eighths
   */
  /**
   * Tenths
   */
  /**
   * Twelfths
   */
}
@media only screen and (min-width: 800px) {
  /**
   * Whole
   */
  /**
   * Halves
   */
  /**
   * Thirds
   */
  /* line 379, ../../src/bower_components/csswizardry-grids/csswizardry-grids.scss */
  .video {
    width: 33.333%;
  }

  /**
   * Quarters
   */
  /* line 386, ../../src/bower_components/csswizardry-grids/csswizardry-grids.scss */
  .album {
    width: 25%;
  }

  /**
   * Fifths
   */
  /**
   * Sixths
   */
  /**
   * Eighths
   */
  /**
   * Tenths
   */
  /**
   * Twelfths
   */
}
@media only screen and (min-width: 1024px) {
  /**
   * Whole
   */
  /**
   * Halves
   */
  /**
   * Thirds
   */
  /**
   * Quarters
   */
  /**
   * Fifths
   */
  /**
   * Sixths
   */
  /**
   * Eighths
   */
  /**
   * Tenths
   */
  /**
   * Twelfths
   */
}
/*------------------------------------*\
    $PUSH
\*------------------------------------*/
/**
 * Push classes, to move grid items over to the right by certain amounts.
 */
/*------------------------------------*\
    $PULL
\*------------------------------------*/
/**
 * Pull classes, to move grid items back to the left by certain amounts.
 */
/* line 1, ../../src/stylesheets/partials/_base.scss */
* {
  box-sizing: border-box;
}

/* line 6, ../../src/stylesheets/partials/_base.scss */
body {
  margin: 0;
  background: #ffffff;
  padding: 0 5px;
  color: #11546e;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 24px;
  position: relative;
}
/* line 17, ../../src/stylesheets/partials/_base.scss */
body::after {
  position: fixed;
  content: '';
  border: 3px white solid;
  box-shadow: inset 0 0 0 1px #11546e;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  pointer-events: none;
  z-index: 11;
}

/* line 32, ../../src/stylesheets/partials/_base.scss */
a {
  color: #11546e;
}

/* line 36, ../../src/stylesheets/partials/_base.scss */
img {
  width: 100%;
  max-width: 100%;
}

/* line 42, ../../src/stylesheets/partials/_base.scss */
p {
  margin-bottom: 24px;
}

/* line 1, ../../src/stylesheets/partials/_nav.scss */
.navigation {
  font-size: 12px;
  line-height: 1.5;
  position: fixed;
  z-index: 10;
  left: 3px;
  top: 0;
  bottom: 0;
  padding-top: 10px;
  -webkit-transform: translateX(0);
  transform: translateX(0);
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
/* line 16, ../../src/stylesheets/partials/_nav.scss */
.navigation.closed {
  -webkit-transform: translateX(-120%);
  transform: translateX(-120%);
}
@media only screen and (min-width: 600px) {
  /* line 1, ../../src/stylesheets/partials/_nav.scss */
  .navigation {
    -webkit-transform: translateX(0) !important;
    transform: translateX(0) !important;
    font-size: 12px;
    line-height: 1;
  }
}

/* line 29, ../../src/stylesheets/partials/_nav.scss */
.navigation__items {
  padding: 0;
  margin: 0;
}

/* line 34, ../../src/stylesheets/partials/_nav.scss */
.navigation__item {
  list-style: none;
}

/* line 38, ../../src/stylesheets/partials/_nav.scss */
.navigation__link {
  background-color: #ffffff;
  padding: 5px 8px;
  margin: 2px 2px 2px 0;
  display: inline-block;
  color: #11546e;
  text-decoration: none;
  position: relative;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-size: 12px;
  line-height: 1.4;
  border: 1px #11546e solid;
  border-left-width: 0;
}
/* line 55, ../../src/stylesheets/partials/_nav.scss */
.navigation__link:after {
  background: #ffffff;
  z-index: -1;
  font-weight: bold;
  content: "\203A";
  position: absolute;
  right: -1px;
  top: -1px;
  border: 1px #11546e solid;
  border-left-width: 0;
  padding: 5px;
  transition: right 0.3s ease-in-out;
  bottom: -1px;
}
/* line 73, ../../src/stylesheets/partials/_nav.scss */
.navigation__link:hover:after {
  right: -17px;
}

/* line 79, ../../src/stylesheets/partials/_nav.scss */
.navigation__toggle {
  cursor: pointer;
  z-index: 99;
  position: fixed;
  padding-left: 1.25em;
  top: 0px;
  right: 0px;
  width: 1em;
  height: 1em;
}
/* line 89, ../../src/stylesheets/partials/_nav.scss */
.navigation__toggle:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0.25em;
  width: 1em;
  height: 0.15em;
  background: white;
  box-shadow: 0 0.25em 0 0 white, 0 0.5em 0 0 white;
}
/* line 102, ../../src/stylesheets/partials/_nav.scss */
.navigation__toggle:after {
  content: "";
  position: absolute;
  top: -2em;
  right: -2em;
  width: 4em;
  height: 4em;
  background: #050608;
  z-index: -1;
  border-radius: 50%;
}
@media only screen and (min-width: 600px) {
  /* line 79, ../../src/stylesheets/partials/_nav.scss */
  .navigation__toggle {
    display: none;
  }
}

/*
.navigation__item {

  .navigation__link:before {
    content: '';
    display: inline-block;
    vertical-align: middle;
    width: 8px;
    height: 8px;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: bottom center;
    margin-right: 2px;
  }

  //
  &:nth-child(1) .navigation__link:before { background-image: url(../images/icon--a.png)}
  &:nth-child(2) .navigation__link:before { background-image: url(../images/icon--b.png)}
  &:nth-child(3) .navigation__link:before { background-image: url(../images/icon--c.png)}
  &:nth-child(4) .navigation__link:before { background-image: url(../images/icon--d.png)}
  &:nth-child(5) .navigation__link:before { background-image: url(../images/icon--e.png)}
  &:nth-child(6) .navigation__link:before { background-image: url(../images/icon--f.png)}
  &:nth-child(7) .navigation__link:before { background-image: url(../images/icon--g.png)}
  &:nth-child(8) .navigation__link:before { background-image: url(../images/icon--h.png)}
  &:nth-child(9) .navigation__link:before { background-image: url(../images/icon--i.png)}
}
*/
/* line 1, ../../src/stylesheets/partials/_overlay.scss */
body.overlay {
  overflow: hidden;
}
/* line 4, ../../src/stylesheets/partials/_overlay.scss */
body.overlay .overlay__background {
  opacity: 1;
  pointer-events: auto;
}

/* line 11, ../../src/stylesheets/partials/_overlay.scss */
.overlay__background {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.9);
  z-index: 99;
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

/* line 26, ../../src/stylesheets/partials/_overlay.scss */
.overlay__close {
  line-height: 1;
  cursor: pointer;
  position: absolute;
  top: -8px;
  right: 2px;
  color: #11546e;
  padding: 5px;
  font-size: 40px;
  line-height: 1;
}

/* line 38, ../../src/stylesheets/partials/_overlay.scss */
.overlay__container {
  position: fixed;
  z-index: 100;
  top: 50%;
  left: 50%;
  width: 100%;
  max-width: 900px;
  -webkit-transform: translate(-50%, -52%);
  transform: translate(-50%, -52%);
  opacity: 0;
  transition: all 0.3s ease-in-out;
  pointer-events: none;
}
/* line 50, ../../src/stylesheets/partials/_overlay.scss */
.overlay__container.open {
  opacity: 1;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  pointer-events: all;
}

/* line 57, ../../src/stylesheets/partials/_overlay.scss */
.overlay__viewer {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
  margin-bottom: 5px;
}

/* line 65, ../../src/stylesheets/partials/_overlay.scss */
.overlay__view {
  background: black;
  border: 5px white solid;
  box-shadow: 0 0 1px #11546e;
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  width: calc(100% - 5px);
  height: calc(100% - 5px);
}

/* line 1, ../../src/stylesheets/partials/_section.scss */
.section {
  width: 100%;
  text-align: center;
  position: relative;
  overflow: hidden;
  min-height: 100vh;
  padding: 120px 72px;
  transition: min-height 0.5s;
}
/* line 10, ../../src/stylesheets/partials/_section.scss */
.section:after {
  content: '';
  z-index: -1;
  position: absolute;
  top: -5px;
  right: -5px;
  bottom: -5px;
  left: -5px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  -webkit-filter: blur(5px);
  filter: blur(5px);
}
/* line 26, ../../src/stylesheets/partials/_section.scss */
.section:before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 0;
  height: 100%;
  min-height: inherit;
  max-height: inherit;
  padding: 0;
}

/* line 38, ../../src/stylesheets/partials/_section.scss */
.section__container {
  display: inline-block;
  vertical-align: top;
  text-align: left;
  width: 90%;
  max-width: 960px;
  margin: 24px auto 0;
}
@media only screen and (min-width: 600px) {
  /* line 38, ../../src/stylesheets/partials/_section.scss */
  .section__container {
    vertical-align: middle;
  }
}

/* line 52, ../../src/stylesheets/partials/_section.scss */
.section--home .section__container {
  vertical-align: middle;
}

/* line 56, ../../src/stylesheets/partials/_section.scss */
.section__title {
  position: relative;
  text-transform: uppercase;
  border-left: 1px #11546e solid;
  border-bottom: 1px #11546e solid;
  letter-spacing: 1px;
  line-height: 1;
  font-weight: bold;
  color: #11546e;
  word-break: break-all;
  margin-bottom: 24px;
  padding: 0 0 5px 5px;
}
/* line 69, ../../src/stylesheets/partials/_section.scss */
.section__title:before {
  position: relative;
  display: inline-block;
  border-right: 1px #11546e solid;
  padding-right: 5px;
  margin-right: 5px;
  margin-top: 1px;
}
/* line 78, ../../src/stylesheets/partials/_section.scss */
.section__title:after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -3px;
  height: 3px;
  width: 100%;
  background-image: linear-gradient(90deg, transparent 90%, #11546e 10%);
  background-size: 12px 12px;
}

/* line 90, ../../src/stylesheets/partials/_section.scss */
.section__body {
  padding-top: 1rem;
}

/*=============================
=            BOXES            =
=============================*/
/* line 99, ../../src/stylesheets/partials/_section.scss */
.-boxed {
  border: 1px #11546e solid;
}
/* line 102, ../../src/stylesheets/partials/_section.scss */
.-boxed:hover {
  background: #d2ddd6;
  border-color: #11546e;
}

/*=================================
=            ACCORDION            =
=================================*/
/* line 112, ../../src/stylesheets/partials/_section.scss */
.accordion__table {
  width: 100%;
}

/* line 116, ../../src/stylesheets/partials/_section.scss */
.accordion__row {
  position: relative;
  padding: 10px;
  border-bottom: 1px #d2ddd6 solid;
  cursor: pointer;
}
/* line 122, ../../src/stylesheets/partials/_section.scss */
.accordion__row:nth-last-child(2) {
  border: 0;
}
/* line 126, ../../src/stylesheets/partials/_section.scss */
.accordion__row.accordion__target {
  display: none;
}
/* line 130, ../../src/stylesheets/partials/_section.scss */
.accordion__row::after {
  content: '\25be';
  display: block;
  position: absolute;
  right: 10px;
  top: calc(50% - 2px);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

/* line 141, ../../src/stylesheets/partials/_section.scss */
.accordion__cell {
  font-size: 16px;
  line-height: 1.4;
  display: block;
}
@media only screen and (min-width: 800px) {
  /* line 141, ../../src/stylesheets/partials/_section.scss */
  .accordion__cell {
    width: calc(33% - 30px);
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  /* line 153, ../../src/stylesheets/partials/_section.scss */
  .accordion__cell:first-child {
    width: 65px;
  }
  /* line 157, ../../src/stylesheets/partials/_section.scss */
  .accordion__cell:nth-child(2) {
    width: 300px;
  }
  /* line 161, ../../src/stylesheets/partials/_section.scss */
  .accordion__cell:only-child {
    width: 100%;
  }
}

/* line 168, ../../src/stylesheets/partials/_section.scss */
.accordion__title {
  font-weight: bold;
}

/* line 1, ../../src/stylesheets/partials/_section-home.scss */
.section--home {
  padding: 0;
}
/* line 4, ../../src/stylesheets/partials/_section-home.scss */
.section--home .section__container {
  text-align: center;
}

/* line 9, ../../src/stylesheets/partials/_section-home.scss */
.home__title {
  font-size: 40px;
  color: #11546e;
  border: 1px #11546e solid;
  display: inline-block;
  padding: 2px 5px;
  line-height: 1;
  letter-spacing: 1px;
}

/* line 19, ../../src/stylesheets/partials/_section-home.scss */
.home__bricks {
  background: linear-gradient(135deg, transparent 22px, rgba(255, 255, 255, 0.025) 22px, rgba(255, 255, 255, 0.025) 24px, transparent 24px, transparent 67px, rgba(255, 255, 255, 0.025) 67px, rgba(255, 255, 255, 0.025) 69px, transparent 69px), linear-gradient(225deg, transparent 22px, rgba(255, 255, 255, 0.025) 22px, rgba(255, 255, 255, 0.025) 24px, transparent 24px, transparent 67px, rgba(255, 255, 255, 0.025) 67px, rgba(255, 255, 255, 0.025) 69px, transparent 69px) 0 64px;
  background-size: 64px 128px;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
}

/* line 7, ../../src/stylesheets/partials/_section-lyrics.scss */
.section__pages {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0;
}

/* line 16, ../../src/stylesheets/partials/_section-lyrics.scss */
.section__page {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  position: absolute;
  display: none;
  width: 100%;
  left: 0;
  top: 0;
}
/* line 24, ../../src/stylesheets/partials/_section-lyrics.scss */
.section__page:first-child {
  position: relative;
  display: block;
  float: left;
}
/* line 30, ../../src/stylesheets/partials/_section-lyrics.scss */
.section__page img {
  display: block;
  height: auto;
  float: left;
  width: 100%;
  border: 0;
}

/* line 42, ../../src/stylesheets/partials/_section-lyrics.scss */
.section__scroll {
  position: relative;
}

/* line 46, ../../src/stylesheets/partials/_section-lyrics.scss */
.section__pages_nav {
  font-size: 80px;
  text-decoration: none;
  position: absolute;
  z-index: 10;
  cursor: pointer;
  top: 50%;
  left: -35px;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
/* line 56, ../../src/stylesheets/partials/_section-lyrics.scss */
.section__pages_nav.next {
  right: -35px;
  left: auto;
}

/* line 6, ../../src/stylesheets/partials/_section-music.scss */
.album {
  margin-bottom: 10px;
  text-align: center;
}

/* line 15, ../../src/stylesheets/partials/_section-music.scss */
.album__artwork {
  width: 100%;
}

/* line 19, ../../src/stylesheets/partials/_section-music.scss */
.album__name {
  display: inline-block;
  font-weight: bold;
  padding: 5px;
  letter-spacing: 1px;
  line-height: 1;
  margin-bottom: 5px;
  position: relative;
  background: #11546e;
  color: #ffffff;
}
/* line 30, ../../src/stylesheets/partials/_section-music.scss */
.album__name:after {
  content: '';
  position: absolute;
  left: 50%;
  z-index: 1;
  height: 6px;
  width: 1px;
  border-left: 1px #11546e solid;
  bottom: -6px;
}

/* line 42, ../../src/stylesheets/partials/_section-music.scss */
.album__notes {
  padding: 0;
  margin: 0;
  list-style: none;
  display: block;
  position: relative;
}

/* line 50, ../../src/stylesheets/partials/_section-music.scss */
.album__note {
  position: relative;
  z-index: 1;
  line-height: 1;
  font-size: 12px;
}
/* line 56, ../../src/stylesheets/partials/_section-music.scss */
.album__note:not(:last-child):before {
  content: '';
  position: absolute;
  left: 50%;
  z-index: 1;
  height: 5px;
  bottom: -1px;
  width: 1px;
  border-left: 1px #11546e solid;
}

/* line 69, ../../src/stylesheets/partials/_section-music.scss */
.album__link {
  padding: 5px;
  margin-bottom: 3px;
  text-decoration: none;
  display: inline-block;
}

/* line 5, ../../src/stylesheets/partials/_section-video.scss */
.video {
  margin-bottom: 30px;
  cursor: pointer;
}

/* line 13, ../../src/stylesheets/partials/_section-video.scss */
.video__title {
  font-weight: bold;
}

/* line 17, ../../src/stylesheets/partials/_section-video.scss */
.video__descr {
  font-size: 12px;
  font-weight: bold;
}

/* line 22, ../../src/stylesheets/partials/_section-video.scss */
.video__image {
  display: block;
  padding: 5px;
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
}

/* line 30, ../../src/stylesheets/partials/_section-video.scss */
.video__holder {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
}

/* line 37, ../../src/stylesheets/partials/_section-video.scss */
.video__viewer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* line 5, ../../src/stylesheets/partials/_section-photo.scss */
.photo {
  margin-bottom: 5px;
  cursor: pointer;
}

/* line 13, ../../src/stylesheets/partials/_section-photo.scss */
.photo__image {
  padding: 5px;
  max-width: 100%;
  height: auto;
}

/* line 19, ../../src/stylesheets/partials/_section-photo.scss */
.photo__title {
  font-size: 12px;
  margin-bottom: 10px;
}

/* line 1, ../../src/stylesheets/partials/_section-about.scss */
.about__body {
  max-width: 600px;
  width: 100%;
  margin: 0 auto 48px;
}

/* line 1, ../../src/stylesheets/partials/_section-performance.scss */
.performances {
  width: 100%;
}
