.section__title CHOREOGRAPHY
p Archive of all Ramona Lisa stage choreography, documented by photographer Amanda Vincelli. Shot October 2014 in Brooklyn NY.  Dancers from left to right: Jen Monroe, Caroline Polachek, Sarah Kinlaw. Main choreography by Caroline Polachek, with additional choreography contributed throughout by Jen Monroe, Sarah Kinlaw, and Juri Onuki. Dance coaching throughout the project by Juri Onuki.
.section__body
  #choreographies