.section__title LYRIC BOOKLET (By Nikolay Saveliev)
.section__body
  .section__scroll
    ul.section__pages.rslides
      li.section__page
        img(src="images/booklet/1.jpg")
      li.section__page
        img(src="images/booklet/2.jpg")
      li.section__page
        img(src="images/booklet/3.jpg")
      li.section__page
        img(src="images/booklet/4.jpg")
      li.section__page
        img(src="images/booklet/5.jpg")
      li.section__page
        img(src="images/booklet/6.jpg")
      li.section__page
        img(src="images/booklet/7.jpg")
      li.section__page
        img(src="images/booklet/8.jpg")
      li.section__page
        img(src="images/booklet/9.jpg")
      li.section__page
        img(src="images/booklet/10.jpg")
      li.section__page
        img(src="images/booklet/11.jpg")
      li.section__page
        img(src="images/booklet/12.jpg")
      li.section__page
        img(src="images/booklet/13.jpg")
      li.section__page
        img(src="images/booklet/14.jpg")

