.section__title MUSIC
.section__body
  .albums
    .album
      img.album__artwork(src='images/album--arcadia.jpg')
      .album__name ARCADIA
      ul.album__links
        li.album__link buy (itunes, amazon, LPs)
        li.album__link listen (links to spotify, terrible's youtube uploads)
        li.album__link about

    .album
      img.album__artwork(src='images/album--dominic.jpg')
      .album__name DOMINIC EP
      ul.album__links
        li.album__link buy (itunes, amazon, LPs)
        li.album__link listen (links to spotify, terrible's youtube uploads)
        li.album__link about

     .album
      img.album__artwork(src='images/album--piano.jpg')
      .album__name PIANO VERSIONS EP
      ul.album__links
        li.album__link buy (itunes, amazon, LPs)
        li.album__link listen (links to spotify, terrible's youtube uploads)
        li.album__link about

     .album
      .album__artwork
      .album__name RELATED LISTENING
       li.album__link Dazed mixtape