.section__title MUSIC
.section__body
  .albums
    .album
      img.album__artwork(src='images/album--arcadia.jpg')
      .album__name ARCADIA
      ul.album__notes
        li.album__note
          a.album__link(href='https://itunes.apple.com/us/album/arcadia/id869312087') LISTEN ON iTUNES
        li.album__note
          a.album__link(href='https://open.spotify.com/album/7pZma8NpAHWEnEpk3r4pCS') LISTEN ON SPOTIFY
        li.album__note
          a.album__link(href='http://terriblerecords.bigcartel.com/product/tr022-ramona-lisa-arcadia') BUY LP FROM TERRIBLE RECORDS

    .album
      img.album__artwork(src='images/album--dominic.jpg')
      .album__name DOMINIC EP
      ul.album__notes
        li.album__note
          a.album__link(href='https://itunes.apple.com/us/album/dominic-ep/id917291082') LISTEN ON iTUNES
        li.album__note
          a.album__link(href='https://open.spotify.com/album/2AbUKivWFfPc2O5K1ZvZQo') LISTEN ON SPOTIFY

     .album
      img.album__artwork(src='images/album--piano.jpg')
      .album__name PIANO VERSIONS EP
      ul.album__notes
        li.album__note
          a.album__link(href='https://open.spotify.com/album/2onpiheRWQKV22mVEAwvQN') LISTEN ON SPOTIFY


     .album
      .album__notes
      .album__name Dazed mixtape
        li.album__note
          a.album__link(href='#')