.section__title MUSIC
.section__body
  .albums
    .album
      img.album__artwork(src='images/music/album--arcadia.jpg')
      .album__name ARCADIA
      ul.album__notes
        li.album__note
          a.album__link.-boxed(href='https://itunes.apple.com/us/album/arcadia/id869312087', target="_blank") BUY ON iTUNES
        li.album__note
          a.album__link.-boxed(href='https://open.spotify.com/album/7pZma8NpAHWEnEpk3r4pCS', target="_blank") LISTEN ON SPOTIFY
        li.album__note
          a.album__link.-boxed(href='http://terriblerecords.bigcartel.com/product/tr022-ramona-lisa-arcadia', target="_blank") BUY LP FROM TERRIBLE RECORDS

    .album
      img.album__artwork(src='images/music/album--dominic.jpg')
      .album__name DOMINIC EP
      ul.album__notes
        li.album__note
          a.album__link.-boxed(href='https://itunes.apple.com/us/album/dominic-ep/id917291082', target="_blank") BUY ON iTUNES
        li.album__note
          a.album__link.-boxed(href='https://open.spotify.com/album/2AbUKivWFfPc2O5K1ZvZQo', target="_blank") LISTEN ON SPOTIFY

     .album
      img.album__artwork(src='images/music/album--piano.jpg')
      .album__name PIANO VERSIONS EP
      ul.album__notes
        li.album__note
          a.album__link.-boxed(href='https://itunes.apple.com/us/album/piano-versions-single/id968613698', target="_blank") BUY ON iTUNES
        li.album__note
          a.album__link.-boxed(href='https://open.spotify.com/album/2onpiheRWQKV22mVEAwvQN', target="_blank") LISTEN ON SPOTIFY


     .album
      img.album__artwork(src='images/music/album--mix.jpg')
      .album__name DAZED mixtape
      ul.album__notes
        li.album__note
          a.album__link.-boxed(href='https://soundcloud.com/dazedandconfused/ramona-lisa-dazed-mix', target="_blank") LISTEN ON SOUNDCLOUD