nav.navigation
  ul.navigation__items
    li.navigation__item
      a.navigation__link(href='#home') home
    li.navigation__item
      a.navigation__link(href='#music') music
    li.navigation__item
      a.navigation__link(href='#lyrics') lyrics
    li.navigation__item
      a.navigation__link(href='#video') video
    li.navigation__item
      a.navigation__link(href='#photo') photo
    li.navigation__item
      a.navigation__link(href='#dance') dance
    li.navigation__item
      a.navigation__link(href='#performance') live<br />archive
    li.navigation__item
      a.navigation__link(href='#contact') contact
