.section__title PERFORMANCE

.section__body
  .performances
    .performance
      .performance__title LPR - "Ramona Lisa"
    .performance
      .performance__title LPR - "Ramona Lisa"LPR - "Kimisin Kreft"
    .performance
      .performance__title LPR - "Ramona Lisa"Shea Stadium "Agatha Dimm"
    .performance
      .performance__title LPR - "Ramona Lisa"Baby's Alright "Theora Vorbis"
    .performance
      .performance__title LPR - "Ramona Lisa"Palm Springs "Ramona Lisa"
    .performance
      .performance__title LPR - "Ramona Lisa"Baby's Alright "Ramona Lisa" trio
    .performance
      .performance__title LPR - "Ramona Lisa"PS1 "
    .performance
      .performance__title LPR - "Ramona Lisa"Courtyard Theatre "
    .performance
      .performance__title LPR - "Ramona Lisa"Le Carmen "
    .performance
      .performance__title LPR - "Ramona Lisa"Villa Medici " (*w Video)
    .performance
      .performance__title LPR - "Ramona Lisa"LPR "  (*w Video)