.section__title PERFORMANCE

.section__body
  table.performances
    tr.performance
      th Title
      th Place
      th Information
    tr.performance
      td.performance__title LPR - "Ramona Lisa"
      td
      td
    tr.performance
      td.performance__title LPR - "Ramona Lisa"
      td
      td
    tr.performance
      td.performance__title LPR - "Kimisin Kreft"
    tr.performance
      td.performance__title LPR - "Ramona Lisa"
      td Shea Stadium
      td "Agatha Dimm"
    tr.performance
      td.performance__title LPR - "Ramona Lisa
      td "Baby's Alright
      td "Theora Vorbis"
    tr.performance
      td.performance__title LPR - "Ramona Lisa
      td "Palm Springs
      td "Ramona Lisa"
    tr.performance
      td.performance__title LPR - "Ramona Lisa"
      td Baby's Alright
      td "Ramona Lisa" trio
    tr.performance
      td.performance__title LPR - "Ramona Lisa"
      td PS1
      td
    tr.performance
      td.performance__title LPR - "Ramona Lisa"
      td Courtyard Theatre
      td
    tr.performance
      td.performance__title LPR - "Ramona Lisa"
      td Le Carmen
      td
    tr.performance
      td.performance__title LPR - "Ramona Lisa"
      td Villa Medici
      td (*w Video)
    tr.performance
      td.performance__title LPR - "Ramona Lisa"
      td LPR
      td (*w Video)
