.section__title LIVE ARCHIVE

.section__body
  #performances

script(id="performance-template" type="text/x-handlebars-template")
  .accordion__table
    {{#each this}}
    .accordion__row.accordion__click
      {{#if date}}
      .accordion__cell.accordion__date {{date}}
      {{/if}}
      {{#if title}}
      .accordion__cell.accordion__title {{title}}
      {{/if}}
      {{#if photographer}}
      .accordion__cell.accordion__photographer {{photographer}}
      {{/if}}
      {{#if place}}
      .accordion__cell.accordion__source {{place}}
      {{/if}}
    .accordion__row.accordion__target
      .accordion__cell.accordion__media
        img(src='images/performance/{{file}}')
    {{/each}}
