.section__title Photos
.section__body
  .photos
    .photo
      img.photo__image(src='http://placehold.it/350x250')
      .photo__title Arcadia

    .photo
      img.photo__image(src='http://placehold.it/350x250')
      .photo__title Dominic

    .photo
      img.photo__image(src='http://placehold.it/350x250')
      .photo__title Backwards And Upwards [Lyric Vid]

    .photo
      img.photo__image(src='http://placehold.it/350x250')
      .photo__title I Love Our World (*will finish)

    .photo
      img.photo__image(src='http://placehold.it/350x250')
      .photo__title "The Lady's Got Gills"

    .photo
      img.photo__image(src='http://placehold.it/350x250')
      .photo__title "Making of Arcadia" (mssngpeces doc)
