.section__title Photos
.section__body
  .overlay__container
    .overlay__viewer
      img.overlay__view
  .photos
    .photo.overlay__click
      img.photo__image.-boxed(src='images/loader.jpg', data-src='images/bug_eye.jpg')
      .photo__title Arcadia

    .photo.overlay__click
      img.photo__image.-boxed(src='images/loader.jpg', data-src='images/dirt.jpg')
      .photo__title Dominic

    .photo.overlay__click
      img.photo__image.-boxed(src='images/loader.jpg', data-src='images/face--up.jpg')
      .photo__title Backwards And Upwards [Lyric Vid]

    .photo.overlay__click
      img.photo__image.-boxed(src='images/loader.jpg', data-src='images/leaves.jpg')
      .photo__title I Love Our World (*will finish)

    .photo.overlay__click
      img.photo__image.-boxed(src='images/loader.jpg', data-src='images/walk--behind.jpg')
      .photo__title "The Lady's Got Gills"

    .photo.overlay__click
      img.photo__image.-boxed(src='images/loader.jpg', data-src='images/walk.jpg')
      .photo__title "Making of Arcadia" (mssngpeces doc)
