.section__title VIDEO
.section__body
  .video__viewer.video__viewer--main
    iframe.video__view(src='')
  .videos
    .video(data-video='eghzhlbv6Cc')
      img.video__image.-boxed(src='http://img.youtube.com/vi/eghzhlbv6Cc/mqdefault.jpg')
      .video__title “Arcadia” (2014)
      .video__descr Directed by Caroline Polachek &amp; Ross Menuez

    .video(data-video='iFdgPcd7wpw')
      img.video__image.-boxed(src='http://img.youtube.com/vi/iFdgPcd7wpw/mqdefault.jpg')
      .video__title “Dominic” (2014)
      .video__descr Directed by Caroline Polachek

    .video(data-video='JYXTmJI8drU')
      img.video__image.-boxed(src='http://img.youtube.com/vi/JYXTmJI8drU/mqdefault.jpg')
      .video__title Backwards And Upwards [Lyric Vid]
      .video__descr Directed / Animated by Caroline Polachek

    .video(data-video='2QmzFq9mh0M')
      img.video__image.-boxed(src='http://img.youtube.com/vi/2QmzFq9mh0M/mqdefault.jpg')
      .video__title “I Love Our World” (2015)
      .video__descr Directed / Edited by Caroline Polachek

    .video(data-video='pKFufxPJil4')
      img.video__image.-boxed(src='http://img.youtube.com/vi/pKFufxPJil4/mqdefault.jpg')
      .video__title "The Lady's Got Gills" (2014)
      .video__descr Directed by Michel Auder & Andrew Neel

    .video(data-video='eghzhlbv6Cc')
      img.video__image.-boxed(src='http://img.youtube.com/vi/eghzhlbv6Cc/mqdefault.jpg')
      .video__title "The Making of Arcadia" (2014)
      .video__descr Directed by Chloe Altcheck, Produced by MssngPeces
