doctype
html.no-js
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    title Ramona Lisa
    base(target='_blank')
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel="stylesheet", href="stylesheets/main.css")
  body
    <!--[if lt IE 8]>
    p.browsehappy
      | You are using an <strong>outdated</strong> browser.
      | Please <a href="http://browsehappy.com/">upgrade your browser</a>
      | to improve your experience.
    <![endif]-->

    .navigation__toggle


    main
      section.section.section--home#home
        .section__container
          include partials/home

      section.section.section--about#about
        .section__container
          include partials/about

      section.section.section--music.section--invert#music
        .section__container
          include partials/music

      section.section.section--lyrics#lyrics
        .section__container
          include partials/lyrics

      section.section.section--video.section--invert#video
        .section__container
          include partials/video

      section.section.section--photo#photo
        .section__container
          include partials/photo

      section.section.section--dance#dance
        .section__container
          include partials/choreography

      section.section.section--performance#performance
        .section__container
          include partials/performance

    include partials/navigation

    .overlay__background
      .overlay__close. &times;



  script(src="scripts/app.js")

  //- Google Analytics: change UA-XXXXX-X to be your site's ID.
  //-
    script
      (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
      function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
      e=o.createElement(i);r=o.getElementsByTagName(i)[0];
      e.src='//www.google-analytics.com/analytics.js';
      r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
      ga('create','UA-XXXXX-X');ga('send','pageview');